.header {
  padding: ($base-size * 5) 0 ($base-size * 8) 0;
  background: $color-dark;
  color: $color-light;

  &__wrapper {
    position: relative;
  }
}

.logo {
  display: inline-block;
  line-height: 0.5;

  &__top {
    text-transform: uppercase;
    color: $color-light;
    background-color: $color-main;
    font-size: ($base-size * 2);
    padding: 10px 5px;
    transform: skew(20deg);
  }

  &__title {
    margin: 0 0 $base-size 0;
    font-size: ($base-size * 4);
    font-family: $font-header;
    font-weight: $font-light;
    text-transform: uppercase;
    font-weight: $font-bold;
    color: $color-turtles;
  }
}

.main-nav {
  position: absolute;
  @include flex(row, flex-start, flex-start);
  bottom: ($base-size * -8);

  a {
    @extend .h2;
    color: $color-danger;
    text-decoration: none;
    margin-right: ($base-size * 2);
    text-align: center;
    padding: $base-size ($base-size * 2);
    background: darken($color-dark, 5%);
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;

    &.active {
      background: lighten($color-dark, 70%);
    }
  }
}
